body{
  background-color: skyblue;
  margin:0;
  padding:0;
}

#nav_center{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  min-width: 100%;
  box-shadow: 5px 5px 10px;
}

nav h4{
  padding-left: 50px;
  color:skyblue;

}
#nav_links{
    list-style-type: none;
    display:flex;
    margin-right:100px;
}
#nav_links li{
  padding:0px 12px;
}
#nav_links a{
  text-decoration: none;
 color:black;
}
#nav_links a:hover{
  color:red;
}
